In [9]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Highest Salary').getOrCreate()

data=[(101,'Ashi',10000,'IT'),
      (102,'Balu',9000,'IT'),
      (103,'Chitra',11000,'IT'),
      (104,'David',4000,'HR'),
      (105,'Geetha',9000,'HR'),
      (106,'Sowji',7000,'Sales'),
      (107,'Raj',10000,'Sales'),
      (108,'Ravi',10000,'Sales')]
columns=["id","name","salary","dept"]

dataDf = spark.createDataFrame(data,columns)

dataDf.show()
dataDf.printSchema()

+---+------+------+-----+
| id|  name|salary| dept|
+---+------+------+-----+
|101|  Ashi| 10000|   IT|
|102|  Balu|  9000|   IT|
|103|Chitra| 11000|   IT|
|104| David|  4000|   HR|
|105|Geetha|  9000|   HR|
|106| Sowji|  7000|Sales|
|107|   Raj| 10000|Sales|
|108|  Ravi| 10000|Sales|
+---+------+------+-----+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- dept: string (nullable = true)

In [13]:
from pyspark.sql.window import Window
from pyspark.sql.functions import max,row_number,col,rank

wdf=Window.partitionBy('dept').orderBy(col('salary').desc())


dataDf.withColumn("ranking",rank().over(wdf)).filter(col("ranking")==1).show()

+---+------+------+-----+-------+
| id|  name|salary| dept|ranking|
+---+------+------+-----+-------+
|105|Geetha|  9000|   HR|      1|
|103|Chitra| 11000|   IT|      1|
|107|   Raj| 10000|Sales|      1|
|108|  Ravi| 10000|Sales|      1|
+---+------+------+-----+-------+