In [2]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("Male Female Employee").getOrCreate()

data=[('IT','M'),('IT','M'),('IT','M'),('IT','F'),
     ('HR','M'),('HR','F'),('HR','F'),
     ('Sales','M'),('Sales','M'),('Sales','M')]
schema=["dept","gender"]

df=spark.createDataFrame(data,schema)
df.show()

+-----+------+
| dept|gender|
+-----+------+
|   IT|     M|
|   IT|     M|
|   IT|     M|
|   IT|     F|
|   HR|     M|
|   HR|     F|
|   HR|     F|
|Sales|     M|
|Sales|     M|
|Sales|     M|
+-----+------+

In [26]:
# identify total employees at dept level, male employee count,female employee count

from pyspark.sql.window import Window
from pyspark.sql.functions import *

df1=df.select("dept",when(df.gender=='M',1).otherwise(None).alias("male")
              ,when(df.gender=='F',1).otherwise(None).alias("female"))

In [27]:
df1.groupBy("dept").agg(count(df1.dept).alias("total")
                        ,sum(df1.male).alias("male_cnt")
                        ,sum(df1.female).alias("female_cnt")).show()

+-----+-----+--------+----------+
| dept|total|male_cnt|female_cnt|
+-----+-----+--------+----------+
|   IT|    4|       3|         1|
|   HR|    3|       1|         2|
|Sales|    3|       3|      null|
+-----+-----+--------+----------+