In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("Convert Rows to one column").getOrCreate()

data=[(1,'a'),(1,'b'),(1,'c'),
     (2,'aw'),(2,'bs'),(2,'cw'),
     (3,'aa'),(3,'bc')]
schema=["id","name"]

df=spark.createDataFrame(data,schema)
df.show()

+---+----+
| id|name|
+---+----+
|  1|   a|
|  1|   b|
|  1|   c|
|  2|  aw|
|  2|  bs|
|  2|  cw|
|  3|  aa|
|  3|  bc|
+---+----+

In [7]:
#combine name field into one row

from pyspark.sql.functions import collect_list
dfc=df.groupby("id").agg(collect_list("name").alias("name"))
dfc.show()

+---+------------+
| id|        name|
+---+------------+
|  1|   [a, b, c]|
|  2|[aw, bs, cw]|
|  3|    [aa, bc]|
+---+------------+

In [9]:
#convert list type of name field into string

from pyspark.sql.functions import concat_ws

dfc.select("id",concat_ws(',',"name").alias("names")).show()

+---+--------+
| id|   names|
+---+--------+
|  1|   a,b,c|
|  2|aw,bs,cw|
|  3|   aa,bc|
+---+--------+