In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("Convert Rows to one column").getOrCreate()

data=[(1,100,10),(1,200,15),(1,40,10)]
schema=["id","price","discount"]

df=spark.createDataFrame(data,schema)
df.show()

# Define a python function that operates on pySpark DataFrames
def get_discounted_price(df):
    return df.withColumn("discounted_price", \
                          df.price - (df.price * df.discount) / 100)

+---+-----+--------+
| id|price|discount|
+---+-----+--------+
|  1|  100|      10|
|  1|  200|      15|
|  1|   40|      10|
+---+-----+--------+

AttributeError: 'DataFrame' object has no attribute 'transfrom'

In [2]:

# Evoke the transformation
df_discounted = df.transform(get_discounted_price)

df_discounted.show()

+---+-----+--------+----------------+
| id|price|discount|discounted_price|
+---+-----+--------+----------------+
|  1|  100|      10|            90.0|
|  1|  200|      15|           170.0|
|  1|   40|      10|            36.0|
+---+-----+--------+----------------+

In [5]:
df_discounted.explain()

== Physical Plan ==
*(1) Project [id#0L, price#1L, discount#2L, (cast(price#1L as double) - (cast((price#1L * discount#2L) as double) / 100.0)) AS discounted_price#19]
+- *(1) Scan ExistingRDD[id#0L,price#1L,discount#2L]